<h1>La Todolist redux style !</h1>

<form [formGroup]="todoForm" (ngSubmit)="createTodo(todoForm.value)">
  <label>Titre: </label>
  <input type="text" formControlName="title" placeholder="Titre" />
  <label>Es-elle terminé</label>
  <input type="checkbox" formControlName="completed" />
  <button>Créer</button>
</form>

<div>
  {{ todosLoaded | async }}
  <span *ngIf="todosLoading | async">Chargement...</span>
</div>
<ul>
  <li *ngFor="let todo of todos$ | async">
    <label>{{ todo.title }}</label>
    <div>
      <input type="checkbox" [(ngModel)]="todo.completed" disabled="disabled" />
      <button (click)="selectTodo(todo)">Modifier</button>
      <button (click)="deleteTodo(todo.id)">Supprimer</button>
    </div>
  </li>
</ul>
